<form class="form-control border-0" action="/answer" data-turbo="false">
  <div class="form-floating mb-3">
    <input type="text" id="floatingInput question" name="question" class="form-control" placeholder="Enter your question here" aria-label="Enter your question here"><br>
    <label for="floatingInput">Ask your coach anything</label>
    <input type="submit" class="btn btn-secondary" value="Ask!" id="button-addon2">

  </div>
</form>
